<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tuware | We're Lost</title>
        {{> partials/head}}
    </head>
    <body>
        {{> partials/nav}}
        <main id="swup" class="a-fade">
            <section class="section--align-center">
                <div class="section-col col-left">
                    <h1>
                        <small class="txt-c-trans-8">Oops</small><br/>
                        Looks like we're lost
                    </h1>
                    <img src="assets/images/lost.svg"
                        class="w-75 m-top-4x"
                        title="Tuware 404"
                        alt="Image depicting a lost man">
                    <div class="txt-a-center">
                        <a href="/" class="btn btn-default m-top-4x">
                            Back To Safety
                        </a>
                    </div>
                </div>
            </section>
        </main>
        {{> partials/footer}}
    </body>
</html>