<!DOCTYPE html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/nav}}
    <main>
        <section id="start" class="section--align-center section--start vertical-scrolling">
            <div class="section-col col-left w-50 m-top-4x">
                <h1 class="txt-4 txt-c-trans-8 m-top-2x max-w-75 section-stagger m-bottom-4x">
                    <span class="whitemode black section-stagger">Maruso</span>
                    <span class="whitemode black section-stagger">Care</span>
                </h1>
                <h2>
                    <span class="whitemode black section-stagger">Trusted to Care</span>
                </h2>
        </section>
        <section id="about" class="section--about vertical-scrolling">
            <div class="section-col col-left w-50">
                <h3>
                    <small class="txt-c-trans-8">
                        <span class="darkmode white section-stagger">Who</span>
                        <span class="darkmode white section-stagger">We</span>
                        <span class="darkmode white section-stagger">Are</span>
                    </small>
                </h3>
                <h3>
                    <span class="darkmode white section-stagger">Maruso - </span>
                    <span class="darkmode white section-stagger">Care</span>
                    <span class="darkmode white section-stagger">Nursing</span>
                    <span class="darkmode white section-stagger">Agency</span>
                </h3>
                <p class="darkmode white txt-lg txt-c-trans-8 m-top-2x max-w-75 section-stagger">
                    Led by Nurses, our core business is to provide reliable, profficient and fully
                    vetted temporary and full time nursing staff, at very competitive rates, to satisfy the peak
                    and sometimes unplanned demands of local Nursing and Residential Homes.
                </p>
                <p class="darkmode white txt-lg txt-c-trans-8 max-w-75 section-stagger">
                    Maruso Care is a Nursing Agency leading supplier of Registered Nurses,
                    Senior Healthcare Assistants and Health Care Assistants, to Nursing,
                    Residential Homes and Hospitals.
                </p>
                <p class="darkmode white txt-lg txt-c-trans-8 max-w-75 section-stagger">
                    Based in Bristol, we cover Gloucestershire, Somerset, Wiltshire and Devon counties.
                </p>
            </div>
        </section>
        <section id="approach" class="section--approach vertical-scrolling">
            <div class="section-col col-left margin-auto">
                <h3 class="darkmode white m-bottom-4x">
                    <small class="txt-c-trans-8">
                        <span class="darkmode white">What</span>
                        <span class="darkmode white">We</span>
                        <span class="darkmode white">Do</span>
                    </small>
                </h3>
                <br />
            <div class="grid-box">
                <div class="card whitemode black">
                    <div class="slide">
                        <div class="text-overlay">
                            <img width="150" height="250" src="/assets/images/medical2.jpg" class="img-blog opacity-05" alt="">
                            <div class="darkmode white overlayed">Highly Skilled Practitioners at Your Service</div>
                        </div>
                        <div class="slide-info">
                            <p class="darkmode white txt-18px">Maruso Care is a reliable and trustworthy 
                                Nursing Agency service in UK — providing excellent 
                                healthcare solutions to hospitals and care homes . 
                                We are committed to meeting all of your health 
                                needs, and go above and beyond to ensure you get 
                                the best care available.</p>
                        </div>
                    </div>
                </div>
                <div class="card whitemode black">
                    <div class="slide">
                        <div class="text-overlay">
                            <img width="150" height="250" src="/assets/images/medical5.jpg" class="img-blog opacity-05" alt="">
                            <div class="darkmode white overlayed">A unique team</div>
                        </div>
                        <div class="slide-info">
                            <p class="darkmode white txt-18px">Our team are a unique group of 
                                individuals who all bring their own colourful 
                                characteristics to the home. Staff here are 
                                dedicated to delivering a high level of care to
                                those we support and making sure that they live
                                as comfortably as possible. As a provider of 
                                temporary, contract and permanent care staff, 
                                we supply experienced and trained Healthcare 
                                Assistants, Support Workers and Nurses to a 
                                wide range of clients across Bristol and the 
                                surrounding.</p>
                        </div>
                    </div>
                </div>
                <div class="card whitemode black">
                    <div class="slide">
                        <div class="text-overlay">
                            <img width="150" height="250" src="/assets/images/medical7.jpg" class="img-blog opacity-05" alt="">
                            <div class="darkmode white overlayed">Our passion is you</div>
                        </div>
                        <div class="slide-info">
                            <p class="darkmode white txt-18px">We are committed to meeting all 
                                of your health needs, and go above and beyond 
                                to ensure you get the best care available. We 
                                use our knowledge to recruit only the best and
                                most suitable candidates, offering a wide range 
                                of nursing jobs to them. We focus on positive 
                                outcomes. Positive outcomes for the vulnerable 
                                people we support, for the teams who work so 
                                hard to support them and for the staff we 
                                empower and trust to deliver outstanding 
                                care.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id="contact" class="section--contact vertical-scrolling">
            <div class="section-col col-left">
                <div class="column column-mobile">
                    <h2>
                        <small class="txt-c-trans-8">
                            <span class="darkmode white section-stagger">Questions?</span>
                        </small><br/>
                        <span class="darkmode white section-stagger">Let's</span>
                        <span class="darkmode white section-stagger">chat</span>
                    </h2>
                    <p class="darkmode white txt-lg txt-c-trans-8 m-top-2x max-w-75 section-stagger">
                        We'd love to hear from you and talk about your next project or anything technology related!
                    </p>
                </div>
                <div class="column">
                    <form action="/received.html"
                        id="contact-form"
                        method="POST"
                        class="section-fade"
                        name="contact">
                        <div class="form-element section-fade">
                            <label for="form_contact_name" class="darkmode white">Name *</label>
                            <input type="text" name="name" id="form_contact_name" required/>
                        </div>
                        <div class="form-element section-fade">
                            <label for="form_contact_email" class="darkmode white">Email *</label>
                            <input type="email" name="email" id="form_contact_email" required/>
                        </div>
                        <div class="form-element section-fade">
                            <label for="form_contact_telephone" class="darkmode white">Phone</label>
                            <input type="Telephone" name="telephone" id="form_contact_telephone"/>
                        </div>
                        <div class="form-element section-fade" class="darkmode white">
                            <label for="form_contact_message">Message *</label>
                            <textarea name="message" id="form_contact_message" required></textarea>
                        </div>
                        <input type="text" name="bot-field" hidden/>
                        <p class="darkmode white">* Mandatory Fields</p>
                        <button class="btn btn-default" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
    {{> partials/cookie_modal}}
    {{> partials/footer}}
    {{> partials/ga_script}}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js'></script>
</body>
</html>
