<!DOCTYPE html>
<html lang="en">
{{> partials/head}}
<body>
{{> partials/nav}}
    <main>
        <section id="start" class="section--align-center section--start vertical-scrolling">
            <div class="section-col col-left w-50 m-top-4x">
                <h1 class="txt-4 txt-c-trans-8 m-top-2x max-w-75 section-stagger m-bottom-4x">
                    <span class="whitemode black section-stagger">Your</span>
                    <span class="whitemode black section-stagger">digital</span>
                    <span class="whitemode black section-stagger">partners</span>
                </h1>
                <h2>
                    <span class="whitemode black section-stagger">Custom</span>
                    <span class="whitemode black section-stagger">web</span>
                    <span class="whitemode black section-stagger">&amp;</span>
                    <span class="whitemode black section-stagger">mobile</span>
                    <span class="whitemode black section-stagger">development</span>
                    <span class="whitemode black section-stagger">for</span>
                    <span class="whitemode black section-stagger">your</span>
                    <span class="whitemode black section-stagger">business</span>
                </h2>
                <div class="m-top-2x">
                    <button class="btn btn-default large-viewport" type="submit"><a href="#about"> Our Clients</a></button>
                </div>
        </section>
        <section id="about" class="section--about vertical-scrolling">
            <div class="section-col col-left w-50">
                {{!-- <h1 class="section-stagger section-title">Who We Are</h1></br>
                <h4 class="section-stagger section-sub-title">Tuware - Your Digital Partner</h4> --}}
                <h3>
                    <small class="txt-c-trans-8">
                        <span class="darkmode white section-stagger">Who</span>
                        <span class="darkmode white section-stagger">We</span>
                        <span class="darkmode white section-stagger">Are</span>
                    </small>
                </h3>
                <h3>
                    <span class="darkmode white section-stagger">Tuware - </span>
                    <span class="darkmode white section-stagger">Your</span>
                    <span class="darkmode white section-stagger">Digital</span>
                    <span class="darkmode white section-stagger">Partner</span>
                </h3>
                <p class="darkmode white txt-lg txt-c-trans-8 m-top-2x max-w-75 section-stagger">
                    We create software that transforms 
                    businesses and simplifies the lives of users through 
                    consultation, development and implementation of cutting 
                    edge technologies.
                </p>
                <p class="darkmode white txt-lg txt-c-trans-8 max-w-75 section-stagger">
                    We are specialists in web apps, mobile apps, complex 
                    integrations and websites for start-ups and FTSE 100 
                    companies a like.  
                </p>
                <p class="darkmode white txt-lg txt-c-trans-8 max-w-75 section-stagger">
                    We are the best at what we do and want to be a key part 
                    of your digital transformation.
                </p>
                <h2>
                    <small class="txt-c-trans-8">
                        <span class="darkmode white section-stagger">Our</span>
                        <span class="darkmode white section-stagger">Clients</span>
                    </small><br/>
                </h2>
                <div class="logo-grid-box">
                    <ul class="logogrid">
                        <li class="logogrid_item">
                            <img src="assets/images/bss.webp" alt="Bss" class="logogrid_img">
                        </li>
                        <li class="logogrid_item">
                            <img src="assets/images/tp.webp" alt="Tp" class="logogrid_img">
                        </li>
                        <li class="logogrid_item">
                            <img src="assets/images/ccf.webp" alt="Ccf" class="logogrid_img">
                        </li>
                        <li class="logogrid_item">
                            <img src="assets/images/keyline.webp" alt="Keyline" class="logogrid_img">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="approach" class="section--approach vertical-scrolling">
            <div class="section-col col-left margin-auto">
                <h3 class="darkmode white m-bottom-4x">
                    <small class="txt-c-trans-8">
                        <span class="darkmode white">What</span>
                        <span class="darkmode white">We</span>
                        <span class="darkmode white">Do</span>
                    </small>
                </h3>
                <br />
                <div class="grid-box">
                    <div class="box card active">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        <!--<path class="blob" d="M194.1,-154.4C241.7,-95.1,263.7,-14.9,242.8,47C222,108.9,158.3,152.7,93.7,177.1C29.1,201.5,-36.4,206.6,-87.6,182C-138.8,157.3,-175.7,102.9,-189.7,42.9C-203.7,-17.1,-194.9,-82.8,-159.5,-139.3C-124.1,-195.9,-62,-243.5,5.6,-247.9C73.2,-252.4,146.5,-213.8,194.1,-154.4Z"/>-->
                        </svg>
                        <p class="top-section darkmode white">Bespoke Development</p>
                        <p class="description darkmode white">We are a full stack development
                            company. Offering solutions...</p>
                            <a href="#bespoke" class="open-modal">View more →</a> <br>
                    </div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">Web Applications</p>
                        <p class="description">We build bespoke web
                            applications for your business...</p>
                        <a href="#webapp" class="open-modal">View more →</a> <br>
                    </div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">Front End Development</p>
                        <p class="description darkmode white">We build attractive commercial
                            award winning websites that...</p>
                        <a href="#frontend" class="open-modal">View more →</a>
                    </div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">API Development</p>
                        <p class="description darkmode white">Already have an app or a
                            platform you wish to connect with another?...</p>
                        <a href="#api" class="open-modal">View more →</a>
                    </div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">Bespoke CRM</p>
                        <p class="description darkmode white">Lets face it. If you search
                            for CRM systems you’ll be presented...</p>
                        <a href="#crm" class="open-modal">View more →</a>
                    </div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">Project Management</p>
                        <p class="description darkmode white">Already have an internal development
                            team or teams and want someone...</p>
                        <a href="#project" class="open-modal">View more →</a>
                    </div>
                    <div></div>
                    <div class="box card darkmode white">
                        <svg class="svg-background" viewBox="0 0 600 600">
                            <path class="blob" d="M192.1,-148.2C230,-105.8,228.6,-27,204.4,33.7C180.2,94.3,133.3,136.8,77.7,165C22.1,193.1,-42.1,206.9,-94.5,185.7C-146.9,164.5,-187.5,108.3,-201.7,46C-215.9,-16.2,-203.7,-84.5,-165.7,-127C-127.7,-169.5,-63.8,-186.3,6.6,-191.6C77.1,-196.9,154.3,-190.7,192.1,-148.2Z"></path>
                        </svg>
                        <p class="top-section darkmode white">Consultation</p>
                        <p class="description darkmode white">You might already have a
                            team of developers, project manager...</p>
                        <a href="#consultation" class="open-modal">View more →</a>
                    </div>
                </div>

                <div id="bespoke" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Bespoke Development</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">We are a full stack development company.
                            Offering solutions in a variety of languages,
                            technologies and platforms. Our industry experts
                            have years of experience in designing and building
                            web applications for large scale enterprises as
                            well as for start-up companies and everything in between. </p>
                        <p class="txt-xl padding-15">We take time to understand your industry,
                            company and people. This allows us to design
                            the right solution for you. Our solutions work
                            for you and not the other way around. </p>
                    </div>
                </div>
                <div id="webapp" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Web Applications</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">We build bespoke web applications for your business.
                            The term web applications and software are
                            interchangeable these days and you can now
                            achieve the same performance if not more with
                            web based apps hosted in the cloud vs natively
                            or locally installed programmes.</p>
                        <p class="txt-xl padding-15">Our web apps are built for your business and
                            teams. Using the power of the cloud you can
                            now enable your teams to work from remote
                            locations without having to be in the office.</p>
                    </div>
                </div>
                <div id="frontend" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Front End Development</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">We build attractive commercial award winning
                            websites that are created with ease of use.
                            We take a mobile first design approach to
                            everything we do while ensuring we maintain
                            best practices when it comes to SEO, conversion
                            optimisation, data security, load speed and aesthetics. </p>
                        <p class="txt-xl padding-15">We have plenty of experience with CMS’s like
                            wordpress, drupal and joomla. We are also
                            experienced with custom development for
                            platforms such as Squarespace and Shoppify.</p>
                    </div>
                </div>
                <div id="api" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">API Development</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">Already have an app or a platform you wish to
                            connect with another? Then API development is
                            for you. Application programming interfaces can
                            change the way which your platform and data work.
                            We are experts in creating APIs for our
                            solutions as well as others.</p>
                        <p class="txt-xl padding-15">Explore the power of your data and link with
                            other systems with a powerful API. </p>
                    </div>
                </div>
                <div id="crm" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Bespoke CRM</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">Lets face it. If you search for CRM systems
                            you’ll be presented with 100’s of solutions all
                            of them ready to go and more or less offer the
                            same features. You have to work for these
                            customer relationship management systems and
                            this is where they often fail. They don’t do
                            what you want or you have to do an awkward work
                             around or even buy more software to manage
                             another aspect of your customer relationships.</p>
                        <p class="txt-xl padding-15">A bespoke CRM is being seen more and more as the
                            choice for SME’s and enterprise size companies
                            alike. We can build a custom CRM system that
                            works for your salesforce. Manage your marking,
                            sales, reports and more with your own CRM system.
                            Link it with other platforms internally and
                            externally. With your CRM system being web
                            based means that your teams can work remotely
                            and on any device. </p>
                    </div>
                </div>
                <div id="project" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Project Management</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">Already have an internal development team or
                            teams and want someone to manage the project,
                            work with stakeholders and ensure the successful
                            implementation of your project?</p>
                        <p class="txt-xl padding-15">Then get in touch. We have successfully delivered
                            over 150 projects internally and externally.
                            We are experienced with a variety of project
                            management tools and methodologies and have an
                            honest and straightforward approach to ensuring
                            the deliverables and timescales are realistic.
                            We won’t spin a tale to try and keep stakeholders
                            happy, you’ll always get the truth whether it’s
                             good or bad. </p>
                        <p class="txt-xl padding-15">If you already have a project that's falling
                            behind and want a fresh set of eyes on it then
                             we are also able to take over the project
                             management at any point during the project to
                             try and get it back on track or give you an
                             honest appraisal of the timescales involved.</p>
                    </div>
                </div>
                <div id="consultation" class="modal">
                    <div class="modal-content">
                        <div class="modal-header header-top">
                        <span class="modal-header-title">Consultation</span>
                        <a href="#/" class="header-btn-close">&#215;</a>
                        </div>
                        <p class="txt-xl padding-15">You might already have a team of developers,
                            project manager, testers, change managers and
                            so on but you need help getting your idea from
                            the whiteboard into deliverables.</p>
                        <p class="txt-xl padding-15">We have consulted on many projects and our
                            level of involvement can be anything from
                            feasibility studies to helping with the stories
                            and deliverables of a project.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="section--contact vertical-scrolling">
            <div class="section-col col-left">
                <div class="column column-mobile">
                    <h2>
                        <small class="txt-c-trans-8">
                            <span class="darkmode white section-stagger">Questions?</span>
                        </small><br/>
                        <span class="darkmode white section-stagger">Let's</span>
                        <span class="darkmode white section-stagger">chat</span>
                    </h2>
                    <p class="darkmode white txt-lg txt-c-trans-8 m-top-2x max-w-75 section-stagger">
                        We'd love to hear from you and talk about your next project or anything technology related!
                    </p>
                </div>
                <div class="column">
                    <form action="/received.html"
                        id="contact-form"
                        method="POST"
                        class="section-fade"
                        name="contact">
                        <div class="form-element section-fade">
                            <label for="form_contact_name" class="darkmode white">Name *</label>
                            <input type="text" name="name" id="form_contact_name" required/>
                        </div>
                        <div class="form-element section-fade">
                            <label for="form_contact_email" class="darkmode white">Email *</label>
                            <input type="email" name="email" id="form_contact_email" required/>
                        </div>
                        <div class="form-element section-fade">
                            <label for="form_contact_telephone" class="darkmode white">Phone</label>
                            <input type="Telephone" name="telephone" id="form_contact_telephone"/>
                        </div>
                        <div class="form-element section-fade" class="darkmode white">
                            <label for="form_contact_message">Message *</label>
                            <textarea name="message" id="form_contact_message" required></textarea>
                        </div>
                        <input type="text" name="bot-field" hidden/>
                        <div class="txt-a-right section-fade">
                            <p class="darkmode white">* Mandatory Fields</p>
                            <div class="g-recaptcha" data-sitekey=""></div>
                            <button class="btn btn-default" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
    {{> partials/cookie_modal}}
    {{> partials/footer}}
    {{> partials/ga_script}}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js'></script>
</body>
</html>
