<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tuware | Message Received</title>
    {{> partials/head}}
</head>
<body>
{{> partials/nav}}
<main id="swup" class="a-fade">
    <section class="section--short section--single">
        <div class="section--inner">

            <h2 class="m-top-4x">
                <span class="section-stagger">Thanks</span>
                <span class="section-stagger">For</span>
                <span class="section-stagger">Getting</span>
                <span class="section-stagger">In</span>
                <span class="section-stagger">Touch</span><br/>
                <small class="txt-c-primary section-stagger">Here's to our future</small>
            </h2>
            <a href="/" class="btn btn-default m-top-4x">
                Home
            </a>
            <img src="assets/images/cheers.svg" class="section-img section-fade m-top-4x">
        </div>
    </section>
</main>
{{> partials/footer}}
</body>
</html>