<div id="cookies-overlay" class="cookies-message fade-up" style="display: none;">
    <p>
        We have a <strong>dark mode</strong>. You can check it out by clicking on the Tuware
        <img class="cookies-logo" src="/assets/images/tuware_white.svg"
            alt="Tuware Logo in Cookies message"
            title="Tuware Logo in message about Cookies"/>
        logo.
    </p>
    <p>This website uses cookies. When browsing our website you agree to our
        <a href="privacy_policy.html" target="_blank" class="read-more">Cookie Policy.</a>
        <button id="accept_cookie_button" class="fade-down cookie-btn btn-default" type="button">Understand</button>
    </p>
</div>