<footer>
    <div>
        <p>
            &copy; Copyright 2014-2020, TuWare
        </p>
        <p class="l-height-15">
            Tuware Ltd<br/>
            {{> address}}
        </p>
    </div>
    <div>
        <p class="f-size-14x">
            <a href="mailto:info@tuware.com?subject=TuWare Website Enquiry">
                <img src="assets/images/icons/icon_email.svg"
                    class="svg-icon svg-icon--sm m-right-1x"
                    title="Tuware Email"
                    alt="Image showing an email icon">
                info@tuware.com
            </a>
        </p>
        <p class="f-size-14x">
            <a href="https://www.linkedin.com/company/5233152">
                <img src="assets/images/icons/icon_linkedin.svg"
                    class="svg-icon svg-icon--sm m-right-1x"
                    title="Tuware LinkedIn"
                    alt="Image showing the LinkedIn logo">
                Tuware
            </a>
        </p>
        <p class="f-size-14x">
            <a href="https://twitter.com/tuwareuk">
                <img src="assets/images/icons/icon_twitter.svg"
                    class="svg-icon svg-icon--sm m-right-1x"
                    title="Tuware Twitter"
                    alt="Image showing the twitter logo">
                @tuware
            </a>
        </p>
        <p class="f-size-14x">
            <a href="https://www.facebook.com/tuwarehq/">
                <img src="assets/images/icons/icon_facebook.svg"
                    class="svg-icon svg-icon--sm m-right-1x"
                    title="Tuware Facebook"
                    alt="Image showing the Facebook logo">
                TuwareHQ
            </a>
        </p>
    </div>
    <div>
        <ul>
            <li>
                <a href="#approach" class="w-100 txt-c-white f-size-14x">Approach</a>
            </li>
            <li>
                <a href="#about" class="w-100 txt-c-white f-size-14x">About</a>
            </li>
            <li>
                <a href="#contact" class="w-100 txt-c-white f-size-14x">Contact</a>
            </li>
            <li>
                <a href="privacy_policy.html"
                    class="w-100 txt-c-white f-size-14x"
                    target="_blank"
                    rel="noopener noreferrer">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a href="terms_and_conditions.html"
                    class="w-100 txt-c-white f-size-14x"
                    target="_blank"
                    rel="noopener noreferrer">
                    Terms & Conditions
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">
                    <img 
                        src="assets/images/googlep.webp"
                        alt="Google Partner logo" 
                        width="120" 
                        title="Google Partner">
                </a>
            </li>
            <li>
                <a href="#">
                    <img 
                        src="assets/images/aws.webp"
                        alt="Amazon partner network logo" 
                        width="120" 
                        title="Amazon Partner Network">
                </a>
            </li>
            <li>
                <a href="#">
                    <img 
                        src="assets/images/microsoft.jpeg" 
                        alt="Microsoft partner network logo" 
                        width="120" 
                        title="Microsoft Partner Network">
                </a>
            </li>
        </ul>
    </div>
</footer>
