<head>
    <meta charset="UTF-8">
    <title>Maruso Care | Nursing Agency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="Realise your business potential. At Tuware We use technology to build tools that grow and evolve with you"/>
    <!-- Open Graph data / Facebook Card data -->
    <meta property="og:title" content="Tuware"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.tuware.com"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta property="og:description"
          content="Realise your business potential. At Tuware We use technology to build tools that grow and evolve with you"/>
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.webp">
    <link rel="manifest" href="assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <link rel="canonical" href="https://www.tuware.com">
    <meta name="msapplication-TileColor" content="#4285f4">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <meta name="theme-color" content="#4285f4">
    <script src="https://use.fontawesome.com/f3b809055b.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800">
    </noscript>
</head>
