<header id="navbar">
    <nav class="no-style">
        <div class="switch">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="whitemode black logo fade-in"></div>
            </label>
        </div>
        <div class="nav-links">
            <a href="/" class="whitemode black nav-link fade-in">Home</a>
            <a href="#about" class="whitemode black nav-link fade-in">About</a>
            <a href="#approach" class="whitemode black nav-link fade-in">Our Approach</a>
            <a href="#contact" class="whitemode black nav-link fade-in">Contact Us</a>
        </div>
    </nav>
</header>
